.center-top {
  color: red;
}
.center-control {
  padding-top: 15px;
  padding-bottom: 30px;
}

.center-clock {
  font-size: 16px;
}

.center-clock span {
  color: orange;
}

.center-dev-info {
  color: grey;
  font-size: 13px;
}
