.right-left {
  float: left;
  padding-left: 20%;
}

.right-right {
  float: right;
  padding-right: 20%;
}

.right-bottom {
  clear: left;
}

.right-top {
  color: red;
}

.right-right .title,
.right-left .title {
  color: orange;
  margin-bottom: 10px;
}

.right-bottom .total {
  color: chartreuse;
  padding-top: 30px;
  padding-bottom: 20px;
}
